NEXT_PUBLIC_SUPABASE_URL=https://dvhwtdusvpsrtzygzxyu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Xn0h9UQuNGSJPVGFsNQI_A_Bd7v_4Qh
ODDS_API_KEY=69ffb43a51a85a4efcd9fdad1bf1d5db
NEXT_PUBLIC_ADMIN_SECRET=masters2026gambit
NEXT_PUBLIC_SITE_URL=https://green-jacket-gambit-kqkirby.vercel.app
